body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}

.trip-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.trip-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trip-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.edit-button, .upload-button {
    display: inline-block;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover, .upload-button:hover {
    background-color: #CCF381;
    border: 1px solid #CCF381;
}

.photo-upload {
    display: inline-block;
    vertical-align: middle;
}
.photo-upload input[type="file"] {
    display: none;
}

.trip-period-participant-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    gap:16px;
}

.trip-icon-period {
    margin-right: 8px;
    font-size: 14px;
}

.trip-icon-participant {
    margin-right: 8px;
    font-size: 14px;
}

.trip-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.trip-highlights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    gap: 8px;
}

.trip-content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    width: 100%;
}

.photo-grid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.photo-item {
    position: relative;
}

.photo-grid .photo {
    border-radius: 5px;
}

.photo-grid .photo::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.photo-icon {
    position: absolute;
    top: 5px;
    right: 16px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    z-index: 1;
}
