body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}

.trip-detail-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.trip-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trip-title {
    font-size: 48px;
    font-weight: bold;
}

.trip-details {
    font-size: 14px;
    color: black;
    margin-bottom: 40px;
}

.edit-button {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #CCF381;
    border: 1px solid #CCF381;
}

.trip-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upload-button,
.story-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upload-button {
    background-color: #007bff;
    color: white;
}

.upload-button:hover {
    background-color: #0056b3;
}

.story-button {
    background-color: #28a745;
    color: white;
}

.story-button:hover {
    background-color: #218838;
}

.trip-content {
    display: flex;
    justify-content: space-between;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 8px;
    width: 55%;
}

.photo-grid .photo {
    border-radius: 5px;
}

.photo-grid .photo::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.story-list {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.story-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.story-text {
    margin: 0;
}

.story-title {
    margin: 0;
}

.story-item:hover {
    background-color: #f1f1f1;
}

.story-photos {
    display: flex;
    gap: 5px;
    margin-top: 0px;
}

.story-photos img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 5px;
}
