@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Globale Schriftart für die gesamte Anwendung */
body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #293133;
}

textarea, input, button {
  font-family: 'Roboto', sans-serif;
  color: #293133;
}

a {
  color: inherit; /* Beibehaltung der Textfarbe */
  text-decoration: none; /* Entfernt die Unterstreichung */
}

a:hover {
  text-decoration: none; /* Optional: Unterstreichung beim Hover */
}
